<h1>Snoop Dogg Speaks</h1>
<form action='/results' method="post">
  <p>See what happens!</p>
  <label for="self">Please enter some text:</label>
  <input id="self" name="self" type="text" placeholder="Put a sentence in here!">
  <button type="submit" class="btn-success">Snoop It</button>
</form>
